<launch>
	<!-- <param name="robot_pose" value="0,0,0,0,0,0,1"/> -->
	<!-- <param name="kitchen_pose" value="1,1,0,0,0,0,1"/> -->
	<node pkg="spark_fetchtea" type="s_fetchtea.py" name="spark_fetchtea_node" output="screen"/>
	<node pkg="spark_fetchtea" type="fetchtea_main.py" name="spark_fetchtea_main_node" output="screen"/>
</launch>
